body{
  width: 285px;
  height: 496px;
  margin: auto;
  padding: auto;
}

#homepage-title{
  margin: auto;
  padding: auto;
  border-bottom: black solid 2px;
  border-top: black solid 2px;
  text-align: center;
  font-size: 250%;
  background-color: #67AB9F;
}

#homepage-quote{
  margin: auto;
  text-align: center;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  font-style: italic;
  font-size: 110%;
}

.searchbar input[type=text]{
  margin-left: 5%;
  margin-top: 15%;
  border: black solid 1px;
  border-radius: 5%;
  width: 75%;
}

.searchbar #search-button{
  float: right;
  font-size: 150%;
  background-color: Transparent;
  border: none;
  outline: none;
      margin-top: 14%;
      margin-right: 4%;
}
